body{
font-family: verdana,monospace,sans-serif;
font-size: 12px;
font-weight: bold;
text-align: justify;
}
.mavi{
width: 500px;
background-color: skyblue;
padding: 20px;
margin-top: 15px;
z-index: 1
}
.yesil{
width: 500px;
background-color: lightgreen;
padding: 20px;
margin-top:15px;
z-index: 2
}
.kirmizi{
width: 500px;
background-color: lightcoral;
padding: 20px;
margin-top: 15px;
position: relative;
top: -50px;
z-index: 3
}


.beyaz{
width: 500px;
background-color: skyblue;
padding: 20px;
position: relative;
top: 0px
}
.siyah{
width: 500px;
background-color: lightgreen;
padding: 20px;
position: absolute;
top: 20px
}
.gri{
width: 500px;
background-color: lightcoral;
padding: 20px;
margin-top: 15px;
position: fixed;
top: 100px
}

.a{
width: 300px;
background-color: skyblue;
padding: 20px;
position: relative;
clear: both;
}
.b{
width: 300px;
background-color: lightgreen;
padding: 20px;
position: relative;
float: left;
}
.c{
width: 300px;
background-color: lightcoral;
padding: 20px;
margin-top: 15px;
position: relative;
float: left;
}